openapi: 3.2.0
info:
  title: Twilio SendGrid Subusers Subuser Website Access API
  summary: The Twilio SendGrid Subusers API allows you to create and manage your Subuser accounts.
  description: The Twilio SendGrid Subusers API allows you to create and manage your Subuser accounts.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio SendGrid Support
    url: https://support.sendgrid.com/hc/en-us
  license:
    name: MIT
    url: https://code.hq.twilio.com/twilio/sendgrid-oas/blob/main/LICENSE
  version: 1.0.0
  x-sendgrid:
    libraryPackage: subusers
servers:
- url: https://api.sendgrid.com
  description: for global users and subusers
- url: https://api.eu.sendgrid.com
  description: for EU regional subusers
security:
- BearerAuth: []
tags:
- name: Subuser Website Access
paths:
  /v3/subusers/{subuser_name}/website_access:
    parameters:
    - name: subuser_name
      in: path
      required: true
      schema:
        type: string
    patch:
      operationId: UpdateSubuserWebsiteAccess
      summary: Enable/Disable website access for a Subuser
      tags:
      - Subuser Website Access
      description: Enable/Disable website access for a Subuser, while still preserving email send functionality.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disabled:
                  type: boolean
                  description: Whether or not to disable website access to the Subuser. `true` means disabled, `false` means enabled.
              example:
                disabled: true
      responses:
        '204':
          description: ''
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Twilio SendGrid requires you to authenticate with its APIs using an API key. The API key must be sent as a bearer token in the Authorization header.
externalDocs:
  description: Twilio SendGrid's official developer documentation.
  url: https://www.twilio.com/docs/sendgrid
